.blog {
    .featuredPost {
        display: grid;
        grid-template-columns: 100%;
        background-color: $black;

        .featuredPostImage {
        grid-row: 1 / 4;
        grid-column: 1;
        height: 400px;
        width: 100%;
        object-fit: cover;
        }

        .featuredPostDetails {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        grid-row: 2 / 4;
        grid-column: 1;
        background-color: rgba($black, 0.6);
        backdrop-filter: blur(5px);
        color: white;
        padding: 1em;
        }

        .featuredPostTitle {
        margin-bottom: .5em;
        }

        .featuredPostDate {
        order: -1;
        color:#bbc9c9;
        }

        .featuredPostBody{
        margin-bottom: 1em;
        }

        .featuredPostLink {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $nav-link-color;

        &:hover {
            color: $nav-link-hover;
        }
        }
    }

    .recentPostList {
        display: grid;
        gap: 1em;
    }

    .recentPost {
        display: grid;
        grid-template-areas: 
        "recent-post-image"
        "recent-post-date"
        "recent-post-title"
        "recent-post-body"
        "recent-post-link";

        justify-items: start;
        gap: 1em;
        padding: 1em;
        // background-color: #F5F8F8;

        @media (min-width: 600px) {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "recent-post-image recent-post-title"
            "recent-post-image recent-post-body"
            "recent-post-image recent-post-body"
            "recent-post-date recent-post-link";
        }

        .recentPostImage {
        grid-area: recent-post-image;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
        }

        .recentPostTitle {
        grid-area: recent-post-title;
        }

        .recentPostBody {
        grid-area: recent-post-body;
        }

        .recentPostLink {
        grid-area: recent-post-link;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        }
    }
}

.post {
    display: flex;
    flex-direction: column;
    // background-color: #F5F8F8;
    padding: 1em;

    .postTitle {
        margin-bottom: 0.5em;
    }

    .postMainImage {
        order: -1;
        max-height: 400px;
        object-fit: cover;
        margin-bottom: 1em;
    }

    .postBodyH3 {
        margin-bottom: 1em;
        margin-top: 1.5em;
    }

    .postDate {
        order: -1
    }
}