@import url("https://use.typekit.net/tcx6eld.css");


html,
body {
  padding: 0;
  margin: 0;
  font-family: "profile-pro", sans-serif;
  color: $black;
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "copperplate", serif;
}

p {
  margin: 0;
  line-height: 1.4;
  letter-spacing: 1.1px;
}

img {
  max-width: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

* {
  box-sizing: border-box;
}

@mixin paddingX($value) {
  padding-top: $value;
  padding-bottom: $value;
}

.container {
  max-width: 1280px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-columns: 1;
  gap: 1em;
  @include paddingX(1em);

  @media (min-width: 800px) {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .main-content {
    grid-column: 1 / -4;
  }

  .sidebar {
    grid-column: -4 / -1;
  }
}




.header {
  background-color: $header-color;

  .nav {
    display: flex;
    align-items: center;
    color: white;
  }

  .logo {
    height: 32px;
  }

  .nav-links {
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 1.25rem;
    padding-left: 0;
    margin-left: 5em;
  }

  .nav-link {
    color: $nav-link-color;
    transition: .3s color;

    &:hover {
      color: $nav-link-hover;
    }
  }
}

.caption {
  color: $gray;
  font-size: 1rem;
}

.seperator {
  margin: 1em;
}


.blog {
  .featured-post {
    display: grid;
    grid-template-columns: 100%;
    background-color: $black;
  
    .featured-post-image {
      grid-row: 1 / 4;
      grid-column: 1;
      height: 100%;
      object-fit: cover;
    }
  
    .featured-post-details {
      display: flex;
      align-items: start;
      flex-direction: column;
      grid-row: 2 / 4;
      grid-column: 1;
      background-color: rgba($black, 0.6);
      backdrop-filter: blur(5px);
      color: white;
      padding: 1em;
    }
  
    .featured-post-title {
      margin-bottom: .5em;
    }

    .featured-post-date {
      order: -1;
      color:#bbc9c9;
    }
  
    .featured-post-body {
      margin-bottom: 1em;
    }
  
    .featured-post-link {
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $nav-link-color;
  
      &:hover {
        color: $nav-link-hover;
      }
    }
  }

  .recent-post-list {
    display: grid;
    gap: 1em;
  }

  .recent-post {
    display: grid;
    grid-template-areas: 
      "recent-post-image"
      "recent-post-date"
      "recent-post-title"
      "recent-post-body"
      "recent-post-link";

    justify-items: start;
    gap: 1em;
    padding: 1em;
    background-color: #F5F8F8;

    @media (min-width: 600px) {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "recent-post-image recent-post-title"
        "recent-post-image recent-post-body"
        "recent-post-image recent-post-body"
        "recent-post-date recent-post-link";
    }

    .recent-post-image {
      grid-area: recent-post-image;
      height: 100%;
      object-fit: cover;
    }

    .recent-post-title {
      grid-area: recent-post-title;
    }

    .recent-post-body {
      grid-area: recent-post-body;
    }

    .recent-post-link {
      grid-area: recent-post-link;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 700;
    }
  }

}
