@import url("https://use.typekit.net/tcx6eld.css");


html,
body {
  padding: 0;
  margin: 0;
  font-family: "profile-pro", sans-serif;
  color: $black;
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "copperplate", serif;
}


p, ul {
  margin: 0;
  line-height: 1.4;
  letter-spacing: 1.1px;
}

img {
  max-width: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

* {
  box-sizing: border-box;
}

.noscroll {
  overflow: hidden;
}

@mixin paddingX($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@media print {
  body {
    -webkit-print-color-adjust: exact; 
  }

  .header, .footer {
    display: none;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;

  @media (min-width: 800px) {
    width: 80%;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1;
  gap: 1em;
  @include paddingX(1em);

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .main-content {
    grid-column: 1 / -4;
  }

  .sidebar {
    grid-column: -4 / -1;
  }

  .full-width {
    grid-column: 1 / -1;
  }
}

.icon-text {
  display: flex;
  gap: 0.5em;
  align-items: center;
}


.body  {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}


.header {
  background-color: $header-color;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1em;

    @media screen and (min-width: 800px) {
      justify-content: inherit;
    }

  }

  .logo {
    height: 32px;
  }

  .nav-links {
    display: none;
    gap: 1em;
    list-style: none;
    font-size: 1.25rem;
    padding-left: 0;

    @media screen and (min-width: 800px) {
      display: flex;
      gap: 1em;
      list-style: none;
      font-size: 1.25rem;
      padding-left: 0;
      margin-left: 5em;
    }
  }

  .nav-link, .hamburger, .close-menu {
    color: $nav-link-color;
    transition: .3s color;

    &:hover {
      color: $nav-link-hover;
    }
  }

  .nav-link-active {
    color: $nav-link-hover;
  }

  .menu {
    display: none;
    position: absolute;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1;

    .nav-links {
      display: flex;
      flex-direction: column;
      margin-top: 5em;
      align-items: center;
    }
  }

  .menu.opened {
    display: initial;
  }


  .hamburger, .close-menu {
    display: block;
    float: right;
    cursor: pointer;
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .close-menu {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s transform;

    &:hover {
      transform: rotate(90deg);
    }
  }
}

.footer {
  background-color: $header-color;
  color: $nav-link-color;
  .footer-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
  }

  .footer-logo {
    height: 32px;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid;
  }

  .footer-text {
    font-size: 0.75rem;
  }
}

.caption {
  color: $gray;
  font-size: 1rem;
}

.seperator {
  margin: 1em;
}



.resume-theme-box {
  height: 200px;
  width: 200px;
  background-color: beige;
  cursor: pointer;
}


.resume-preview {

  h2, h3, a {
    color: #4B79A0;
  }


  h2 {
    font-weight: 400;
  }
  

  .layout {
    @media print {
      grid-template-columns: repeat(12, [col-start] 1fr);
    }
  }

  .personal-details {
    .user-name {
      margin-bottom: 0.5em;
    }

    .user-description {
      margin-bottom: 1em;
    }

    .contact-details {
      display: flex;
      flex-wrap: wrap;
  
      .contact-details-item {
        width: 50%;
        margin-bottom: 0.5em;
      }
    }
  }

  .resume-block {
    margin-bottom: 1em;

    @media print {
      break-inside: avoid;
    }
  
    .resume-block-title {
      margin-bottom: 0.5em;
    }
  }
  
  .work-experience {
    margin-bottom: 1em;

    .org-details {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .org-name {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }
  
  .education-details {
    margin-bottom: 1em;

    .course-details {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .course-name {
      font-weight: 700;
      font-size: 1.25rem;
    }

    .education-location {
      font-size: 1rem;
    }
  }

  .placeholder {
    text-align: center;
    padding: 0.5em;
    background-color: aquamarine;
  }
}
