// .personalDetailsForm {
//     display: grid;
//     gap: 1em;
//     grid-template-columns: 1fr;
//     justify-items: start;


//     @media (min-width: 500px) {
//         grid-template-columns: repeat(2, 1fr);
//         .left {
//             grid-column: 1 / span 2;
//         }

//         & > * {
//             grid-column: auto / span 1;
//         }
//     }

//     @media (min-width: 600px) {
//         grid-template-columns: repeat(4, 1fr);
        
     
//          & > * {
//              grid-column: auto / span 2;
//          }
//     }
    
// }


.workExperienceForm {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .orgName, .jobRole {
        max-width: 250px;
    }

    .jobDescription {
        max-width: 700px;
    }
}

.workExperienceForm, .educationDetailsForm {
    .date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;

        @media (min-width: 730px) {
            align-items: center;
            flex-direction: row;
        }
    }
}

.educationDetailsForm {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .institute, .courseName {
        max-width: 250px;
    }

    .location, .score {
        max-width: 200px;
    }
}


.resumeSelect {
    grid-column: 3 / -3;
    padding: 1em;
    display: flex;
    flex-direction: column;

    .editResume, .previewResume, .createResume {
        background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);        
        color: white;
        transition: 0.5s;
    }
    
    .sectionTitle {
        margin-bottom: 1em;
    }
    
    .or {
        margin: 1em 0;
    }

    .newResume {
        display: flex;
        padding: 1em;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .existingResumeList {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
        .existingResumeItem{
            height: 240px;
            background-image: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
            color: darkblue;
            padding: 1em;
        
            .existingResumeHead {
                margin-bottom: 1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
            .editResume {
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
    }
}


.resumeBuilderContainer {
    padding: 1em 0;

    .resumeBuilder {
        height: 100%;
        display: flex;

        .tabs {
            width: 200px;
        }
        .tabPanel {
            flex: 1;
            padding: 1em;
            font-size: .875rem;
            height: 100%;

            .tabPanelContent {
                display: grid;
                align-items: flex-start;
                grid-template-rows: auto 1fr auto;
                height: 100%;
            }
            .tabActionButtons {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }

    .personalDetailsForm {
        display: grid;
        gap: .5em 2em;
        padding: 1em 2em;
        grid-template-columns: repeat(4, 1fr);
    }

    .workExperience, .educationDetails, .skills{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .workExperienceForm, .educationDetailsForm, .skillForm {
        display: grid;
        gap: .5em 2em;
        padding: 1em 2em;
        grid-template-columns: repeat(4, 1fr);
    }

    .field {
        grid-column: 1 / 3;
        justify-content: baseline;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 150px 1fr;
        align-items: baseline;
    }

    .fieldAuto {
        grid-column: auto / span 2;
    }

    .fieldLarge {
        grid-column: 1 / 4;
    }
    
    .fieldFull {
        grid-column: 1 / -1;
    }

    .label {
        font-weight: 700;
    }

}
